.snackbar-content {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}
.snackbar-content .left-content{
  display: contents;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.item-details-table-header-right-content , .content-icon{
  display: flex;
  align-items: center;
}
.content-icon{
  margin-right: 8px;
}

.content-message {
  font-size: 18px;
}

mat-icon {
  font-size: 22px;
  color: inherit;
}
